{{> lock-card }}

<style>
  .card {
    margin: auto;
    width: auto;
    display: inline-block;
    border-radius: 8px;
    padding: 8px 24px;
    margin: 20px 0;
  }

  .row-title {
    display: inline-block;
    width: 100px;
  }

  .row-value {
    display: block;
    font-weight: bold;
  }
</style>

<div class="my-9">
  <div class="container tac">
    <h1 class="h1 color-white mb-3">
      {{ t.title }}
    </h1>

    <p class="text-md color-white">
      {{ t.subtitle }}
    </p>

    <div class="my-4">
      <a href="{{recoveryURL}}" class="button">
        {{ t.resetPassword }}
      </a>
    </div>

    <p class="text-md color-gray-2">
      {{ t.bottomText }}
    </p>
  </div>
</div>

{{#if_eq config.locale 'ru'}}
  <hr />
{{/if_eq}}